*{
    padding:0;
    margin:0;
}

body{
background-color: rgb(4, 13, 32);

}




#offcanvasNavbar{
    width: 300px;
    padding:10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(5, 11, 21, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  #offcanvasNavbarLabel{
    color:#c3c0c0
  }

  #offcanvasNavbar > div.offcanvas-body > ul > li.nav-item.fs-4 > div > a.btn.btn-secondary.mx-auto{
    background: transparent;
    width: 250px;
  }

.maincontent{
    color: darkblue;
    animation: ryan 5s linear infinite ;
    display: flex;
    justify-content: center;
}

@keyframes ryan {
   
0%{
    color:yellow;
}
25%{
    color:rgb(21, 182, 56);
}
50%{
    color:rgb(16, 177, 189);
}
75%{
    color:rgb(87, 11, 185);
}
100%{
    color:rgb(218, 218, 5);
}
}

.maincontent h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 100px;
    position: relative;
    top:100px;
    text-align: center;
}

.maincontent > h2{
    font-size: 5rem;
    animation: heart 200ms infinite alternate linear;
    position: absolute;
    top:250px;
}

@keyframes heart {
    from {
        transform: scale(.7);
    }
    to {
        transform: scale(1);
    }
}

#beshy{
    text-align: center;
    color: aliceblue;  
    position: relative;
    top:100px;
}

@media (max-width:600px) {
    .maincontent {
        width: 100%;
    }

    .maincontent >#beshy {
        font-size: 2rem;
        text-align: center;
    }
    .maincontent > h1 {
        font-size: 3rem;
        text-align: center;
    }

    .maincontent > h2 {
        margin-left: auto;
        margin-right:auto;
        
    }
}