* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Angerstyles;
  src: url(./Assets/AngerStyles.ttf);
}

p {
  font-family: Montserrat;
  text-indent: 50px;
  text-align: justify;
}

body {
  background: linear-gradient(120deg, rgb(8, 8, 62), rgb(3, 10, 44));
  height: 100vh;
  overflow: hidden;
}



.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr;
  gap: 9px;
}

.main {
  max-width: auto;
}

.main > h1 {
  font-family: Angerstyles;
  color: white;
  margin-left: 200px;
}

.main > h2,
p {
  width: 800px;
  margin-left: 200px;
  color: white;
}

.main > h2 {
  margin-top: 180px;
}

.main > img {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  float: right;
  margin: 50px;
  margin-top: 120px;
  border: 2px solid #00f;
  box-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f, 0 0 40px #00f,
    0 0 80px #00f;
  object-fit: cover;
}

.main button {
  font-family: montserrat;
  font-weight: 500;
  margin-left: 200px;
}

.main > span {
  font-family: arial;
  margin-left: 200px;
  font-size: 1.2rem;
  font-weight: bold;
  color: aqua;
  display: inline-block;
  letter-spacing: 0.1rem;
  border-right: 1px solid rgb(17, 126, 168);
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: frontend 2s steps(21) 1s forwards infinite alternate,
    blink 0.5s steps(1) infinite;
}

@keyframes frontend {
  to {
    width: 21ch;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }

  to {
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .grid-container {
    width: 100%;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .main > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Ensure the image is a block element */
    margin-top: 40px;
  }

  .main > h2,
  .main > p,
  .main > button {
    width: 90%; /* Adjusting width to fit within smaller screens */
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }

  .main > h2 {
    margin-top: 45px;
  }

  .main > h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Center the heading */
  }

  .main > span {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  main > button {
    margin-bottom: 60px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .grid-container {
    width: 100%;
  }

  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-bar > * {
    font-size: 0.9rem;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .main > img {
    width: 400px;
    height: 400px;
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Ensure the image is a block element */
    margin-top: 50px;
  }

  .main > h2,
  .main > p,
  .main > button {
    width: 90%; /* Adjusting width to fit within smaller screens */
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    max-width: 90%;
  }

  .main > h2 {
    margin-top: 80px;
    margin-left: 300px;
  }

  .main > h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Center the heading */
  }

  .main > span {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .main > button {
    width: 300px;
  }
}



/*bg animation */

