
*{
    padding: 0px;
    margin:0px;
   
}
  body{
    background: linear-gradient(120deg,rgb(1, 1, 32),rgb(3, 10, 44));
  }


@font-face {
    font-family: Angerstyles;
    src: url(/fonts/AngerStyles.ttf);
}

/*header section*/
.header {
  
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    margin-left: 300px;
    background: none;
    
}

.icon a {
    padding: 5px;
    position: relative;
    

    
}

.icon img  {

    width: 50px;
    position: relative;
    background-color: rgb(29, 128, 148);
    border-radius: 50%;
    padding:7px;
    margin-top: 30px;
    
}


.header #home {
   color: limegreen;
}

.header li :hover {
color: rgb(20, 113, 156);
background-color: rgb(23, 26, 63);
padding: 7px 15px;
border-radius: 3px;
}


 
.header ul li a{
    color: rgb(229, 230, 240);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    padding:15px;
    position: relative;
    left: 460px;
    cursor: pointer;
}

.header li {
    list-style: none;
}
 
.maincontent-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top:100px;
}

.maincontent{
    font-weight: bold;
    color: rgb(236, 236, 236);
    position: relative;
    left:200px;
    width: 540px;
    max-width:95%;
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
  

    
}


.maincontent h1 {

    width: 600px;
    font-size: 4rem;
    font-family: Angerstyles;
    padding:2px;
}



.maincontent span {
    font-size:30px;
    font-weight: bold;
    color: aqua;
    display: inline-block;
    letter-spacing: .1rem;
    border-right: 1px solid rgb(17, 126, 168);
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: frontend 2s steps(17) 1s forwards infinite alternate ,
    blink 0.5s steps(1) infinite;
    
}

@keyframes frontend {
    to {
        width: 17ch;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }

    to {
        border-color:transparent;
    }
}


.maincontent button {
  background-color: rgb(0, 55, 175);
  color: rgb(224, 224, 241);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  border:none;
  font-family:'Crimson Pro', serif;
  
}

.maincontent-container img {
    position: relative;
    background-color: rgb(137, 142, 157);
    border:5px solid rgb(198, 203, 209);
    border-radius: 50%;
    box-shadow:  0px 0px 0px blue;
    padding:20px;
    height: 430px ;
    width: 400px;
    z-index: -1;
    align-items: center;
    animation: logo 8s infinite  linear  ;
}


 /*  @keyframes logo {
    from {
        transform: rotate(0deg);
     }
    to {
        transform: rotate(360deg);
    }
}

 #ceitlogo {
    position:absolute;
    top:260px;
    left: 870px;
    width: 100px;
    border-radius: 50%;
    animation: ceit 8s infinite linear;
}

@keyframes ceit {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }

} */



